.box-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 100px;
  column-gap: 100px;
  font-size: 2em;
}
.box-container img {
  border-radius: 10px;
}
.box-container h2 {
  font-size: 2rem;
}
.sub-container {
  flex: 1;
}
.btn {
  gap: 20px;
}
.review-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1.5em;
}
.design {
  padding: 30px;
  border: 1px solid #d6caca;
}
